.footer {
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
.menu {
  box-sizing: border-box;
  width: 33.33%;
  text-align: center;
  border: 2px solid #cccccc;
  padding: 11px;
  background-color: aliceblue;
  margin: auto;
  display: inline-block;
}
.menu:hover{
  cursor: pointer;
}
.container {
  background-color: lavender;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}

.content {
  margin: auto;
  background-color: wheat;
  border-radius: 8px;
  padding: 15px;
}

.Form {
  display: flex;
  flex-direction: column;
}
.list-kimia {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 2px;
  height: 70px;
  background-color: white;
}
.info {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
}
.value-info {
  display: inline-block;
}
.prop-info{
  margin-left: 10px;
}